/* container3 styles */

.container3-main{
    background-image: url("../assets/banner-2.webp");
    width: 100%;
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con3-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container3-main h1{
    font-size: 100px;
    font-family: 'Concert One', cursive;
    color: #ffffff;
    text-align: center;
}
.container3-main button{
    width: 280px;
    height: 60px;
    background-color:transparent;
    font-size: 30px;
    /* font-weight: bold; */
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    border: 1px solid white;
    position: relative;
    top: 150px;

}