.container-main{
    width: 100%;
}
.container-main .video video{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: -2;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    z-index: 0;
}
.overlay::before{
    content: "";
    position: absolute;
    height: 140%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    
}
.overlay .center{
    z-index: 2;
}
.overlay .heading h1{
    font-size: 80px;
    color: #fff;
    font-family: 'Concert One', cursive;
}
.overlay .heading h3{
    font-size: 30px;
    color: #fff;
}
.overlay .btn button{
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: #FF5672;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: bold;
    animation-name: anime;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
.overlay .center .link a{
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    gap: 5px;
}
.mission{
    width: 100%;
    background-color: #fff;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission h1{
    text-align: center;
}
.mission .para{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
    text-align: center;
}
.hr{
    width: 1250px;
    height: 5px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%;
}
.benifits-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.benifits-center .benifit-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 1300px;
} 
.benifits-center .benifit-div .benifit{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 29px;
    margin-top: 50px;
}
.benifits-center .benifit-div .benifit img{
    height: 70px;
}
.benifits-center .div2{
    display: flex;
    gap: 30px;
}
.queries-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.queries-main .queries-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.queries-main .queries-center .calls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 50px;
}
.queries-center .calls img{
    height: 35px;
    width: 35px;
}
.queries-center .calls .div1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
}
a{
    color: black;
}
.appliction-main{
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appliction-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.appliction-center h1{
    font-size: 30px;
    font-weight: normal;
}
.appliction-center p{
    font-size: 19px;
    margin-top: 5px;
}
.appliction-center img{
    height: 550px;
    width: 900px;
    display: block;
    margin-top: 10px;
}
.appliction-center .btn button{
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: #FF5672;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 60px;
    font-weight: bold;
    animation-name: anime;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}


@keyframes anime{
    0%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
