:root{
    --background-color: #ffffff;
    --transition: all 0.8s;
}

*,::after,::before{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
a,a:visited,a:hover,a:active{
    text-decoration: none;
}


.wrapper{
    width: 1250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}
body{
    transition: all .4s;
}

/* nav styles */
.navcontainer{
    width: 100%;
    min-height: 110px;
    background-color: rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.navcontainer .navcenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.logo-section{
    height: 90px;
    width: 150px;
    margin-left: 60px;
}
.logo-section img{
    height: 70px;
    width: 150px;
}
.navcontainer .nav-links{
    display: flex;
    margin-right: 60px;
}
.navcontainer .nav-links .nav-link{
    color: #ffffff;
    margin-right: 30px;
}
.navcontainer .nav-link{
    font-size: 19px;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}
.navcontainer .nav-link.active{
    font-weight: 900;
    color:antiquewhite;
    font-size: 22px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: solid;
}
.navcontainer .nav-link.not-active:hover{
    color: rgb(136, 3, 136);
}
.nav-link.not-active:hover{
    border: 2px solid white;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 6px;
}
.chat{
    position: fixed;
    bottom: 28px;
    right: 28px;
    cursor: pointer;
}